@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/* todos los elementos */
* {
    padding: 5px
}

h1 {
    font-family: 'Montserrat';
    font-size:56px;
    background-color: lightcoral;
}

p {
    font-size: 18px;
}